<table>
    <tr>
        <td><a href="./original/installation/install.html">Ré-initialisation</a></td>
    </tr>
    <tr>
        <td><a href="./original/index.html">Saisie</a></td>
    </tr>
     <tr>
        <td><a href="./original/gestion/presents.html">Présents (aujourd'hui)</a></td>
    </tr>
    <tr>
        <td><a href="./original/gestion/presentsPasse.html">Présents (autre date)</a></td>
    </tr>
    <tr>
        <td><a href="./original/gestion/stats.html">Statistiques</a></td>
    </tr>
</table>
